.App {
  font-family: sans-serif;
  text-align: center;
}
.color-box {
  width: 10rem;
  height: 10rem;
}
.box-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
